{% extends "base.html" %}
{% block title %} Download Page{% endblock %}
{% block content %}
<form action="" method="post">
    <p><label for="fname">Link completo do Video:</label></p>
    <p><input type="text" name="movie_info"/></p>
    <p><label for="format">Escolha o formato desejado:</label></p>
    <input list="format" name="movie_extension" id="movie_extension"/>
    <datalist id="format">
    <option value="mp4">
    <option value="mp3">
  </datalist>
    <p><input type="submit" value="submit"/></p>
</form>
{% endblock %}